
@{
    ViewData["Title"] = "Admin Page";
    Layout = "_Layout";
}

<div class="container">
    <div class="row text-center border-2 border-bottom mb-5">
        <h3>
            Admin Page
        </h3>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="container">
                <div class="row text-center border-2 border-dark border-bottom">
                    <h5>
                        Administrator options
                    </h5>
                </div>
                <div class="row mt-3">
                    <table class="table-boardless">
                        <tbody>
                        <tr>
                            <td>
                                <a asp-controller="Admin" asp-action="Users">Users Page</a>
                            </td>
                            <td class="text-end">User overview, user delete and user role management</td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Admin" asp-action="Roles">Roles</a>
                            </td>
                            <td class="text-end">
                                Here you can see all available roles and their permission
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a asp-controller="Admin" asp-action="PageInfo">Page info</a>
                            </td>
                            <td class="text-end">
                                Informations about page including numbers and many more
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="container">
                <div class="row text-center border-2 border-dark border-bottom">
                    <h5>
                        Page info
                    </h5>
                </div>
            </div>
        </div>
    </div>
    
</div>