@page
@using FirstProject.Models
@model FirstProject.Areas.Identity.Pages.Account.Manage.AttachedPerson

@{
    ViewData["Title"] = "Attached Person";
    ViewData["ActivePage"] = ManageNavPages.AttachedPerson;
    int i = 1;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-8">
        <h5>Here is list of person your account is attached to</h5>
        @if (Model.ApplicationUser.Persons is not null && Model.ApplicationUser.Persons.Count() != 0)
        {
            
            <table class="table">
                <tr>
                    <th class="text-start">No.</th>
                    <th class="text-start">Full Name</th>
                    <th class="text-end">Type</th>
                    <th class="text-end">Options</th>
                </tr>

                @foreach (var person in Model.ApplicationUser.Persons)
                {
                    <tr>
                        <td class="text-start">@i</td>
                        <td class="text-start">@person.FullName</td>
                        @if (person is StudentModel)
                        {
                            <td class="text-end">Student</td>
                        }
                        else
                        {
                            <td class="text-end">Other</td>
                        }
                        <td class="text-end">
                            <a asp-controller="Person" asp-action="DetachPerson" asp-route-personId="@person.ID">Detach</a> Detail
                        </td>
                    </tr>
                    i++;
                }
            </table>

        }
        else
        {
            <p>No person is attached to this accout</p>
            
        }
        <p>Click <a asp-controller="Person" asp-action="UserAttach">here</a> to attach to availabe persons</p>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
