@{
    ViewData["Title"] = "About Page";
    Layout = "_Layout";
}

<div class="container">
    <div class="row text-center">
        <h3>About Univeristy Management System Page</h3>
    </div>
    
    <div class="row ps-0">
        <h4>Description</h4>
    </div>
    
    <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores minus, odit repellat rerum unde voluptas! Adipisci asperiores blanditiis, cumque deserunt distinctio dolorum illo nesciunt nihil obcaecati odit, quisquam voluptas.
    </div>
    
    <div class="row">
        <h5>Technology</h5>
    </div>
    
    <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur dicta eos, nulla tenetur veritatis?
    </div>
    
    <div class="row">
        <h5>Technology</h5>
    </div>
    
    <div class="row">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consectetur dicta eos, nulla tenetur veritatis?
    </div>
</div>