@{
    ViewData["Title"] = "About Page";
    Layout = "_Layout";
}

<div class="container">
    <div class="row text-center">
        <h3>About Univeristy Management System Page</h3>
    </div>
    
    <div class="row ps-0">
        <h4>Description</h4>
    </div>
    
    <div class="row">
        <p>This is University Management System, my own personal page created to manage the university. On this page, you can manage different universities, faculties, courses, and transactions.
            Soon I will add students and instructors models, and many more. This page is similar to page called USOS which is used around whole Poland universities.
            Those who know usos, they know about how unfriendly and difficult a page it is to use, so my plan is to create a better page from the beginning. Of course this project
            focus on the backend so it won't look like Facebook or Twitter. Page is created for free and it's not created for business purposes!
        </p>
    </div>
    
    <div class="row p-0">
        <h5>Technology</h5>
    </div>
    
    <div class="row">
        <p>Whole back-end is builded using ASP.NET Core 6.0 with MVC (Model-View-Controller) technology for .Net 6</p>
        <p>Database migrations and updates are made using Entity Framework Core 6.0.2</p>
        <p>Front-end is builded using BootStrap 5.0 with basic HTML5 and CSS3</p>
        <p>Knowledge required to build this page is gained from Microsoft Documentation</p>
        </div>
    
    <div class="row p-0">
        <h5>Author</h5>
    </div>
    
    <div class="row">
        <p>Hi I am Przemysław Szewczak known as Przemosz on GitHub, and I am creator of this page. Actually, I am learning ASP.NET but also I'm studying electrical engineering at AGH university of 
            science and technology on semester III. This page is created in order to deepen my knowledge about web dev using ASP.NET</p>
    </div>
    
    <div class="row">
        <p>
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Show Version Info
            </a>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Here you can see all available version with descriprion
                <table class="table">
                    <thead>
                    <tr>
                        <th>Version</th>
                        <th>Stable</th>
                        <th>Description</th>
                        <th>GitHub Branch</th>
                        <th>GitHub Commit</th>
                        <th>Link</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Alpha 1.0</td>
                        <td>Stable</td>
                        <td>Created first Models: Univeristy and Faculty with basic CRUD</td>
                        <td>main</td>
                        <td>a513d0d</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/a513d0dd090f61e66a278f5cb62409803ebdf991">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.1</td>
                        <td>Partialy stable</td>
                        <td>Finished transaction controller</td>
                        <td>main</td>
                        <td>9fb747c</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/9fb747c3c28793ea9968a302bc6e4c4a2e3dca3e">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.2</td>
                        <td>Stable</td>
                        <td>Fixed problems with identity also created new property to identity model</td>
                        <td>main</td>
                        <td>cb092fb</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/cb092fb2193ea6c593aea0a09a10eb11a3e53328">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.3a</td>
                        <td>Stable</td>
                        <td>Created course model with CRUD, created CourseView attached to Faculty</td>
                        <td>Course</td>
                        <td>ba4e1e2</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/ba4e1e2204a416843ed41b360760cebcb01e5125">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.3b</td>
                        <td>Stable</td>
                        <td>Added search input and sort SelectList to CourseView, also updated About Page</td>
                        <td>Course</td>
                        <td>8ff8b26</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/8ff8b2654926b5f771636bf9533fe0765c0a6ead">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.3c</td>
                        <td>Stable</td>
                        <td>Added group by select list, repaired edit for course</td>
                        <td>Course</td>
                        <td>b98436c</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/b98436cc703695d1a98463fcd0069b2851e0b351">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.4a</td>
                        <td>Unstable</td>
                        <td>Created prototype version for concurency handling in Course Controller</td>
                        <td>Concurency</td>
                        <td>fc41db7</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/fc41db77e65ea08b1a41539031cf2a0afe674300">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.5a</td>
                        <td>Stable</td>
                        <td>Finished Concurency handling for Course Page</td>
                        <td>main</td>
                        <td>bd6ea22</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/bd6ea22619523dd4827045513a865a4d64986a74">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.5b</td>
                        <td>Stable</td>
                        <td>Made some small but important frontend changes including returning methods and anchor tags</td>
                        <td>main</td>
                        <td>1650a4d</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/1650a4db924f2d847a697867e6b738d4c41d8d1d">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.6a</td>
                        <td>Stable</td>
                        <td>Created policy Based authorization, added default admin user create</td>
                        <td>Authorization</td>
                        <td>c1afb9d</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/c1afb9d37fb2d1c74d7edf339db48bd59ea25045">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.7a</td>
                        <td>Unstable</td>
                        <td>Created admin page, created user delete page from admin page</td>
                        <td>AdminPage</td>
                        <td>037a43b</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/037a43b5a3eb401b70f713e48329c36e88c20346">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.7b</td>
                        <td>Stable</td>
                        <td>Created delete user backend, created user details page, user role attach - WIP, added small changes to other pages</td>
                        <td>AdminPage</td>
                        <td>58dc73a</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/58dc73ace67dce0a792231e8340cf57b2088c860">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.7c</td>
                        <td>Stable</td>
                        <td>Finished detail view, now you can attache role to users via Admin Page</td>
                        <td>AdminPage</td>
                        <td>58dc73a</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/58dc73ace67dce0a792231e8340cf57b2088c860">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.7d</td>
                        <td>Stable</td>
                        <td>Added search and group by inputs to Admin/UserRoles</td>
                        <td>AdminPage</td>
                        <td>cadc0e9</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/cadc0e979372f6ac50d12bd974022bf10fdda1ea">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.7e</td>
                        <td>Stable</td>
                        <td>Added "Page info" to admin page - finished Admin Page</td>
                        <td>Main</td>
                        <td>c19044e</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/c19044e549e2fed13c3cb99ec6e19c701a471f1b">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.8a</td>
                        <td>Stable</td>
                        <td>Created Person and Student Model, created first StudentController with Index view only</td>
                        <td>Student</td>
                        <td>2f3b795</td>
                        <td><a href="https://github.com/Przemoosz/UniversityASP.NET/commit/2f3b795fb71cfebc61019ffb98c6ab8c4885c6fc">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.8b</td>
                        <td>Unstable</td>
                        <td>Created basic CRUD for student. Create View and Controller is finished</td>
                        <td>Student</td>
                        <td>8b1f33f</td>
                        <td><a href="">Link</a></td>
                    </tr>
                    <tr>
                        <td>Alpha 1.8c</td>
                        <td>Stable</td>
                        <td>Finished create, details and index view for students. Finished Many to Many relation. Reorganized Models folder</td>
                        <td>Student</td>
                        <td>-------</td>
                        <td><a href="">Link</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>