@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row text-center">
        <h3>
            
        </h3>
    </div>
    <div class="row">
        <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, optio!</div>
        <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur itaque iure quis quisquam vel veritatis?</div>
        <div class="col-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, beatae consequatur deserunt dolorum enim excepturi in incidunt perspiciatis unde ut!</div>
    </div>
</div>
