@model IEnumerable<FirstProject.Models.StudentModel>
@{
    ViewData["Title"] = "title";
    Layout = "_Layout";
}

@Html.DisplayNameFor(o => o.FullName)
<h2>title</h2>
<a asp-controller="Student" asp-action="create">create</a>